:root {
  --background: #fcfcfb;
  --color: black;
  --highlight: #1392c4;
  --rich-highlight: #0883b4;
}

body.dark-mode {
  --background: #181818;
  --color: white;
  --highlight: #ff8a3c;
  --rich-highlight: #f7741d;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Light mode */
body.light-mode {
  --background: #fcfcfb;
  --color: black;
  --highlight: #1392c4;
  --rich-highlight: #0883b4;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Special stuff for Dude Spotter*/

body.dude-spotter.dark-mode {
  --background: #EFEFEF;
  --color: black;
  --highlight: #ff8a3c;
  --rich-highlight: #f7741d;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.dude-spotter.light-mode {
  --background: #ffffff;
  --color: black;
  --highlight: #ff8a3c;
  --rich-highlight: #f7741d;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.time-war.dark-mode {
  --background: #EFEFEF;
  --color: black;
  --highlight: #ff3c3c;
  --rich-highlight: #f71d1d;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.time-war.light-mode {
  --background: #ffffff;
  --color: black;
  --highlight: #ff3c3c;
  --rich-highlight: #f71d1d;
  transition: background-color 0.5s ease, color 0.5s ease;
}

html {
    margin: 0em;
    font-size: 16px;
    line-height: 1.45;  
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: "Hack";
    src: url("https://metaterminal.fyi/static/fonts/Hack-Regular.ttf") format("ttf"),
}

tml {
  font-size: 100%; /*16px*/
}

body > nav {
  background: var(--background);
  transition: background-color 0.5s ease, color 0.5s ease;
}

@media (max-width:600px) {

  body {
    margin: 2em; 
  }
  
  h1 {font-size: 2.441rem;}
  
  h2 {font-size: 1.953rem;}
  
  h3 {font-size: 1.563rem;}
  
  h4 {font-size: 1.25rem;}

  h5 {font-size: 1.15rem;}

  body > nav {
    line-height: 1.45;
  }

  nav > ul {
    width: 75%;
    display: block;
  }

}

body {
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.5;
  color: var(--color);
  background: var(--background);
  margin: 1em;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 2em);
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: Hack;
}

button {
  background-color: var(--background);
  color: var(--color);
  border: 2px solid var(--highlight);
  border-radius: 6px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Hack', monospace;
  line-height: 1.3;
}

h1 {
  margin-top: 0.5em;
  margin-bottom: .5rem;
  font-size: 3.052rem;
  font-weight: 500;
}

h2 {
  font-size: 2.441rem;
  font-weight: 500;
}

h3 {
  font-size: 2.053rem;
  font-weight: 500;
}

h4 {
  font-size: 1.563rem;
  font-weight: 400;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
}

a {
  color: var(--highlight);
  text-decoration: none;
  outline: 0;
  text-decoration: underline dotted;

  &:hover { 
    text-decoration: underline solid;
    font-weight: bold; 
  }
}

a.footnote {
   text-decoration: none;
   background-color: var(--background);
   padding-left: 2px;
   padding-right: 2px;
   margin-right: 2px;

  & > sup {
    text-decoration: underline dotted;
    &:hover { 
      text-decoration: underline solid;
    }
  }
} 

a.footnote span {
   font-weight: normal;
   text-decoration: none;
   z-index: -1;
   opacity: 0;
   position: absolute;
   left: auto; 
   bottom: auto;
   margin-left: 0px;
   margin-right: 18px;
   padding: 14px 20px;
   border-radius: 4px; 
   color: var(--color);
   border:1px solid var(--highlight);
   background-color: var(--background);
   transition: all 400ms ease;
}

a.footnote:hover span {
   z-index: 9;
   opacity: 1;
}

small, .text_small { font-size: 0.8rem; }

strong, b { font-weight: bold; }

main {
  max-width: 80ch;
  padding: 2ch;
  margin: auto;
  flex-grow: 1;
}

* {
  box-sizing: content-box;
}

header, footer, nav, h1, h2, h3, h4, h5, h6 {
  font-family: 'Hack', monospace;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#header-sigil {
  height: 1.5em;
  vertical-align: middle;
}

body > header, body > footer {
  background: var(--background);
  color: var(--color);
  text-align: center;
  margin: -1em;

  & > a {
    color: var(--highlight);
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

body > nav {
  position: sticky;
  top: 0;
  text-align: center;
  margin: -1em;
  
  & > ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;

    & > li {
      display: inline;
      margin: 0 3px 0 3px;

      & > a {
        color: var(--highlight);
      }
    }
  }
}

body > footer {
  margin-top: auto;
}

#scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 4px;
  background: var(--rich-highlight);
  z-index: 10000;
}

.subtitle, .tags {
  margin-left: 0.5em;
}

.emphasis {
  color: var(--highlight);
}

.container {
  margin: 0;
  padding: 40px;   /* Keeps text away from screen edges */
  box-sizing: border-box;
  left: 0;
  right: 0;
}

.centered {
  text-align: center;
}

.links a {
  display: inline-block;
  margin: 0 15px;
}
