<h1 class="centered">Welcome!</h1>

<div class="centered links">
    <a href="https://github.com/metaterminal/">github</a>
    <a href="/cv.pdf">cv</a>
</div>

<p>This site is created by Thomas Gordon, a kiwi studying computer engineering at Brown University. Many people know me online as <span class="emphasis">metaterminal</span>.</p>

<p>During my studies, I've designed CPUs, built instruments with Arduino controllers, and helped install an interactive LED screen on Brown's Center for Information Technology building. (I want to document some of these things on this website soon.)</p>

<p>Currently, I work as a research assistant at Brown's <a href="https://ccv.brown.edu/">Center for Computation and Visualization</a> studying software sustainability, as well as the <a href="https://scale-lab.github.io/">Scalable Energy-Efficient Computing Systems (SCALE) Laboratory</a>.</p>

<p>In my spare time, I <a href="../puzzles/">create puzzlehunts</a>, <a href="../fiction/">write fiction</a>, <a href="https://arguingaboutpuzzles.substack.com/">host a podcast</a>, play guitar, <a href="https://bravopuzzleawards.com/">help run an annual awards show</a>, and make cool things. (Some of the cool things are on this website!)</p>

<h2>Current projects</h2>

<div style="text-align: center; margin-bottom: 20px;">🟩 <a href="https://arguingaboutpuzzles.substack.com/">Arguing About Puzzles</a> Season 2: Releasing now! 🟩</div>
<div style="text-align: center; margin-bottom: 20px;">🔤 <a href="/annotated-baru-cormorant">The Annotated Baru Cormorant</a>: Ongoing 🔤</div>
<div style="text-align: center; margin-bottom: 20px;">⬛ <span class="emphasis">???</span>: When it's ready ⬛</div>

<h2>Technical details</h2>

<p>This site is run using the static site generator <a href="https://www.getzola.org/">Zola</a>, which is powered by <a href="https://keats.github.io/tera/">Tera</a>, and individual pages are written with Markdown. The site is deployed using Netlify. I don't use a default Zola theme or anything like that; any functionality on here, I have implemented myself.</p>

<p>(Should I have used React or some other kind of framework? Perhaps! But I enjoyed creating everything from scratch; implementing new features is fun! I also enjoy how lightweight the end result is.)</p>

<p>This site is entirely static. That means no ads and fast load times. I plan to keep my site like this for as long as I have it up.</p>

<p>I also host the websites for <a href="https://brownpuzzle.club/">Brown Puzzle Club</a> and the <a href="https://bravopuzzleawards.com/">Bravo Puzzle Awards</a>, which use an identical tech stack.</p>

<p>The font on this website is <a href="https://sourcefoundry.org/hack/">Hack</a>.</p>

<h2>Contact me</h2>

<p>I'm not looking to be contacted, but if there is something you want to reach out to me about, then you can find me at altmetaterminal at gmail dot com.</p>