{% extends "base.html" %}

{% block head %}
<style>
    body {
      font-family: Hack;
      line-height: 1.5;
    }
    header {
      margin-bottom: 1.5rem;
    }
    h1 {
      margin-top: 3rem;
      margin-bottom: .5rem;
    }
</style>
{% endblock head %}

{% block header %}
<header>
  <h1>Tag: {{ term.name }}</h1>
</header>
{% endblock %}

{% block content %}
<main>
{% if paginator %}
{% set pages = paginator.pages %}
{% else %}
{% set pages = term.pages %}
{% endif %}

{% for page in pages %}
  <a href="{{ page.permalink | safe }}">{% if page.extra.display_title %}{{ page.extra.display_title | markdown(inline=true) | safe }}{% else %}{{ page.title }}{% endif %} ({{ page.date }})</a>
  <div>{% if page.taxonomies.tags %}
    {{ macros::render_tags(tags=page.taxonomies.tags) }}
    {% endif %}</div>
  <p>{{ page.summary | safe }}</p>
  <hr style="border: none; border-top: 1px solid gainsboro; margin-top: 20px; margin-bottom: 20px;"/>
{% endfor %}

</main>
{% endblock content %}